* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body#container {
    width: 100%;
    margin: 0 auto;
    
}

#search-container {
    width: 100%;
    background: rgba(0, 120, 200, 0.4);
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    height: 60px;
}

#row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 120, 200, 0.4);
    width: 90%;
    height: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    text-align: center; 
}

div#row > p {
    text-align: left;
    font-size: 20px;
    color: #333333
}

#location {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
}

#temperature {
    cursor: pointer;
    display: inline;
    font-size: 102px;
    color: #ffffff;
    text-shadow: 2px 8px rgba(0,0,0,0.7);
}

#temperature-description {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
    margin-top: 10px;
}

.weather-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.high-low {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500px;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    margin-top: 10px;
}

/* the search container */
.input-button {
    height: 50px;
}

input#search {
    width: 70%;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    background: rgba(50, 50, 100, 0.3);
    color: rgb(0,0,0);
    
}

button#submit {
    border: 1px solid black;
    width: 10%;
    height: 20%;
    font-weight: 700;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer; 
    background: rgba(50, 50, 100, 0.3);
    color: rgb(0,0,0);
}

div#search {
    position: absolute;
    /* ?left: 10px; */
    /* top:10px; */
    width: 60%;
    margin: 0 auto;
}

input#date {
    width: 140px;
    height: 40px;
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(50, 50, 100, 0.3);
    color: rgb(0,0,0);
}


 

@media (min-width: 481px) and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #location {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin: 20px 0 40px;
    }
    
    #temperature {
        /* display: ; */
        font-weight: 700;
        font-size: 80px;
        text-shadow: 2px 2px rgba(0,0,0,0.7);
        text-align: center;
        margin-bottom: 40px;
    }

    #temperature-description {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
        text-align: center;
        margin-bottom: 10px;
    }

    .high-low {
        font-size: 24px;
        font-weight: 500px;
        text-shadow: 2px 2px rgba(0,0,0,0.5);
        margin-top: 10px;
        text-align: center;
    }

    input#search {
        width: 70%;
        height: 40px;
        font-size: 30px;
        border-radius: 10px;
        background: rgba(50, 50, 100, 0.3);
        color: rgb(0,0,0);
        
    }
    
    button#submit {
        border: 1px solid black;
        width: 20%;
        height: 20%;
        font-weight: 700;
        padding: 2px;
        border-radius: 5px;
        cursor: pointer; 
        background: rgba(50, 50, 100, 0.3);
        color: rgb(0,0,0);
    }
}

@media (max-width: 480px) {
    .row {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #location {
        font-size: 30px;
        font-weight: 700;
        margin: 20px 0 40px;
    }
    
    #temperature {
        /* display: ; */
        font-weight: 700;
        font-size: 50px;
        text-shadow: 2px 2px rgba(0,0,0,0.7);
        margin-bottom: 40px;
    }

    #temperature-description {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 24px;
        font-style: italic;
        margin-bottom: 10px;
    }

    .high-low {
        font-size: 24px;
        font-weight: 500px;
        text-shadow: 2px 2px rgba(0,0,0,0.5);
        margin-top: 10px;
    }

    input#search {
        width: 60%;
        height: 30px;
        font-size: 20px;
        border-radius: 10px;
        background: rgba(50, 50, 100, 0.3);
        color: rgb(0,0,0);
        
    }
    
    button#submit {
        border: 1px solid black;
        width: 30%;
        height: 20%;
        font-weight: 700;
        padding: 2px;
        border-radius: 5px;
        cursor: pointer; 
        background: rgba(50, 50, 100, 0.3);
        color: rgb(0,0,0);
    }

    input#date {
        width: 50px;
        height: 30px;
        font-size: 15px;
        position: absolute;
        top: 5px;
        right: 15px;
        padding: 2px;
        border: 1px solid black;
        border-radius: 5px;
        background: rgba(50, 50, 100, 0.3);
        color: rgb(0,0,0);
    }

    #search-container {
        padding: 10px;
        margin-bottom: 10px;
        position: relative;
        height: 40px;
    }

    div#search {
        position: absolute;
        /* ?left: 10px; */
        top:5px; 
        width: 60%;
        margin: 0 auto;
    }

    .weather-icon > img {
        visibility: hidden;
    }
     
}








